player-connection-mode=Listen
player-connection-guid=3168871903
player-connection-debug=1
player-connection-project-name=FBLA 2023-2024
player-connection-ip=10.0.0.152
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=4db93153e19b4c5a85e8b9feb79bbead
